<div class="container-flex--scroll">
	<div class="page">
		<div class="region">
			<div class="layout layout--wide">
				<div class="grid">
					<div class="col--7-12 col--12-12--s">
						<h1 class="h1 word-break--break-all smaller">Lokale Besturen Linked Open Data &mdash; Detailpagina's</h1>
						<p>Deze website wordt gebruikt om de informatie over links (URI's) die in kader van het project <a href="https://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data" target="_blank">Lokale Besturen Linked Open Data</a> gebruikt worden, te tonen op een leesbare en begrijpbare manier. Deze links kan u onder andere ontdekken op <a href="https://publicatie.gelinkt-notuleren.vlaanderen.be" target="_blank">https://publicatie.gelinkt-notuleren.vlaanderen.be</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
